sudo: required
dist: bionic

before_install:
    - wget https://s3.amazonaws.com/rebar3/rebar3
    - chmod u+x ./rebar3

language: erlang

otp_release:
 - 22.1.8.1
 - 22.2.8
 - 22.3.2

install: "true"

jobs:
  include:
    -
    - dist: xenial
      otp_release: 21.1.4
    - dist: xenial
      otp_release: 21.2.7
    - dist: xenial
      otp_release: 21.3.8.1
    - dist: xenial
      otp_release: 22.0.7

script:
    - ./rebar3 compile
    - ./rebar3 do xref, ct
    - (./rebar3 as test do coveralls send || /bin/true)
