%%-*-Erlang-*-
{erl_opts, [debug_info]}.
{minimum_otp_vsn, "25.3"}.

{pre_hooks, [{compile, "escript dicts_compiler.erl compile"},
             {clean, "escript dicts_compiler.erl clean"}]}.

{profiles, [
            {dialyzer, [{deps, [{prometheus, "4.11.0"}]}]},
            {test, [
                    {erl_opts, [nowarn_export_all]},
                    {deps, [{meck, "0.9.2"},
                            {prometheus, "4.11.0"}]}
                   ]}
           ]}.

{project_plugins, [rebar3_fmt]}.

%% xref checks to run
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls,
               deprecated_functions, exports_not_used]}.

{xref_ignores, [{prometheus_histogram, declare, 1},
                {prometheus_histogram, observe, 3},
                {prometheus_counter,   declare, 1},
                {prometheus_counter,   inc,     3},
                {prometheus_gauge,     declare, 1},
                {prometheus_gauge,     inc,     3},
                {prometheus_boolean,   declare, 1},
                {prometheus_boolean,   set,     3}]}.

%% == Plugins ==
{plugins, [rebar3_hex, rebar3_ex_doc]}.

%% == Dialyzer ==

{dialyzer,
 [%%{warnings, [unmatched_returns, underspecs]},
  {plt_extra_apps, [prometheus]}
 ]}.

%% == ExDoc ==

{ex_doc, [
     {extras, ["README.md", "METRICS.md", "LICENSE"]},
     {main, "README.md"},
     {source_url, "https://github.com/travelping/eradius"}
]}.

%% == Hex ==

{hex, [
    {doc, #{provider => ex_doc}}
]}.
