%-*-Erlang-*-
{erl_opts, [debug_info]}.
{minimum_otp_vsn, "21.1"}.

{pre_hooks, [{compile, "escript dicts_compiler.erl compile"},
	     {clean, "escript dicts_compiler.erl clean"}]}.

{profiles, [
	    {test, [
		    {erl_opts, [nowarn_export_all]},
                    {project_app_dirs, ["applications/*", "src/*", "."]},
		    {deps, [{meck, "0.9.0"}]}
		   ]}
	   ]}.

%% xref checks to run
{xref_checks, [undefined_function_calls, undefined_functions,
	       locals_not_used, deprecated_function_calls,
	       deprecated_functions]}.

{xref_ignores, [{prometheus_histogram, declare, 1},
                {prometheus_histogram, observe, 3},
                {prometheus_boolean,   declare, 1},
                {prometheus_boolean,   set,     3}]}.


%% == Plugins ==

{plugins, [
    % @TODO: Folow https://github.com/markusn/coveralls-erl/pull/36 and use `coveralls` after release
    {coveralls, {git, "https://github.com/RoadRunnr/coveralls-erl.git", {branch, "feature/git-info"}}},
    rebar3_hex]
}.

%% == Cover covervalls.io ==
{cover_enabled, true}.
{cover_export_enabled, true}.
{do_coveralls_after_ct, false}.
{do_coveralls_after_eunit, false}.
{coveralls_coverdata, "_build/test/cover/ct.coverdata"}.
{coveralls_service_name , "github"}.
{coveralls_parallel, true}.
