{lager, [
	{handlers, [
    	{lager_journald_backend, []}
   	]}
]}.

{eradius, [
   {description, "Erlang RADIUS server"},
   {registered, [eradius_dict, eradius_sup, eradius_server_top_sup, eradius_server_sup, eradius_server_mon]},
   {applications, [kernel, stdlib, crypto, lager]},
   {mod, {eradius, []}},
   {env, [
      {servers, []},
      {logging, true},
      {logfile, "./radius.log"},
      {tables, [dictionary]},
      {client_ip, undefined},
      {client_ports, 20},
      {resend_timeout, 30000}
   ]}
]}.
