name: CI

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp: [22, 23, 24, 25]
    container:
      image: erlang:${{ matrix.otp }}-alpine
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Build
      run: rebar3 compile
    - name: Run tests
      run: |
           rebar3 do xref, ct

  slack:
    needs: test
    runs-on: ubuntu-20.04
    if: always()
    steps:
    - name: Slack notification
      uses: 8398a7/action-slack@v3
      with:
        author_name: "GitHub Actions"
        username: ${{ github.event.repository.name }}
        icon_emoji: ':octocat:'
        fields: repo, message, ref, commit, author, action, eventName, workflow, job, took
        status: ${{ needs.test.result }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
        MATRIX_CONTEXT: ${{ toJson(matrix) }}
